workflows/3BeTDTACmquoYGQ2.json
{
  "active": false,
  "connections": {
    "Scrape raw video URL": {
      "main": [
        [
          {
            "node": "Output video file without watermark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Set file permissions to public with link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TikTok Video Page Data": {
      "main": [
        [
          {
            "node": "Scrape raw video URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output video file without watermark": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Get TikTok Video Page Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set file permissions to public with link": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-21T04:36:26.688Z",
  "id": "3BeTDTACmquoYGQ2",
  "meta": null,
  "name": "Tải video tiktok không có logo",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json['Link video'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) Chrome/91.0.4472.124"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "24d0d3d5-0a11-4c90-a104-4cf0557aac02",
      "name": "Get TikTok Video Page Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        860,
        200
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data;\nconst headers = $input.first().json.headers || {};\nconst cookies = headers['set-cookie'] || [];\n\nif (!html) {\n  throw new Error(\"HTML body is undefined. Check the previous node's output.\");\n}\nconst regex = /<script id=\"__UNIVERSAL_DATA_FOR_REHYDRATION__\" type=\"application\\/json\">([\\s\\S]*?)<\\/script>/;\nconst match = html.match(regex);\n\nif (match) {\n  const jsonStr = match[1];\n  const data = JSON.parse(jsonStr);\n  const videoUrl = data?.__DEFAULT_SCOPE__?.[\"webapp.video-detail\"]?.itemInfo?.itemStruct?.video?.playAddr;\n  if (!videoUrl) {\n    throw new Error(\"Could not find video URL in the JSON data.\");\n  }\n  return [{ json: { videoUrl, cookies: cookies.join('; ') } }];\n} else {\n  throw new Error(\"Could not find __UNIVERSAL_DATA_FOR_REHYDRATION__ script in the HTML.\");\n}"
      },
      "id": "d1e57387-df5a-4dd0-9011-5e95875bcde4",
      "name": "Scrape raw video URL",
      "type": "n8n-nodes-base.code",
      "position": [
        1300,
        200
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            },
            {
              "name": "Referer",
              "value": "https://www.tiktok.com/"
            },
            {
              "name": "Accept",
              "value": "video/mp4,video/webm,video/*;q=0.9,application/octet-stream;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Cookie",
              "value": "={{ $json.cookies }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "893a4dc4-de7f-4b77-aad7-79aa5ef4800e",
      "name": "Output video file without watermark",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1720,
        200
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## 1. Load the video page\nOpen this node and replace the URL with the one of the video you want to download without a watermark.\n\nA Tiktok video URL looks like: https://www.tiktok.com/@Username_here/video/Video_ID_Here\n\nOutputs the returned page HTML along with the session cookies\n\n",
        "height": 360,
        "width": 460,
        "color": 6
      },
      "id": "42691830-6168-4fb3-968b-7d60595db3f5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Find the raw video URL\nParses through all of the HTML and finds the section containing the video URL before the watermark is applied",
        "height": 360,
        "width": 380,
        "color": 5
      },
      "id": "922fed46-975e-4886-acb6-8a7b52cd57f5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1160,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. Output video file without watermark\nUsing the cookies from step 1, a request is made to access the original video file as shown on TikTok",
        "height": 360,
        "width": 400,
        "color": 4
      },
      "id": "17bd7d2b-ba88-4026-b632-52207653def7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1560,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1xSgxS3ehPGRY1dWAbPaSA8k1huFCy_mk",
          "mode": "list",
          "cachedResultName": "Ảnh (test)",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xSgxS3ehPGRY1dWAbPaSA8k1huFCy_mk"
        },
        "options": {}
      },
      "id": "9817745e-2d53-459a-ae20-36518fc776bd",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1300,
        580
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {}
      },
      "id": "75ed9781-4b19-4896-b508-e6d8ec7c11de",
      "name": "Set file permissions to public with link",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1740,
        580
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "## (Optional) Upload video to Google Drive\nAn expression is used to save the file to your Google Drive as Video_ID.mp4\n\nNote: Must have Google Drive API enabled in [Google Cloud Console](https://console.cloud.google.com/apis/api/drive.googleapis.com/overview) OAuth ClientID and Client Secret credentials setup",
        "height": 320,
        "width": 800,
        "color": 7
      },
      "id": "89cacda4-9a72-462b-b3bc-cd696c3f068a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1160,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Tải video tiktok",
        "formDescription": "Tự động lấy link tải video tiktok không logo",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Link video",
              "placeholder": "Nhập link video vào đây",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Lấy link"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        480,
        200
      ],
      "id": "82bd39de-5421-4948-90b6-02eb463b2141",
      "name": "On form submission",
      "webhookId": "0cb31de0-af87-45be-9d71-8d3f4af483e6"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "returnBinary"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        2100,
        580
      ],
      "id": "0fbec246-dc24-465a-b50a-255ef02ae49d",
      "name": "Form",
      "webhookId": "939862a8-8c99-4de4-ad5c-b206134cae5b"
    },
    {
      "parameters": {
        "jsCode": "return items.map((item, index) => {\n  const indexNumber = index + 1;\n  const filename = `video-${indexNumber}.mp4`;\n\n  item.binary.data.fileName = filename;\n  item.binary.data.name = `video-${indexNumber}`;\n  \n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        580
      ],
      "id": "6963ebea-437d-4b7b-ba9a-55651fad0354",
      "name": "Code"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-21T04:37:01.000Z",
  "versionId": "0fa788bd-c64d-4102-89ee-f1868f9fe7ea"
}