workflows/5lBjFdDCq1Rsqbaq.json
{
  "active": false,
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        []
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        []
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-31T07:13:54.491Z",
  "id": "5lBjFdDCq1Rsqbaq",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bot phiên âm tiếng anh",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=- Phát âm ipa {{ $json['Tiếng Anh'] }}\n- Phát âm tiếng việt {{ $json['Tiếng Anh'] }} \n- Dịch nghĩa {{ $json['Tiếng Anh'] }} sang tiếng việt\n\n",
        "options": {
          "systemMessage": "Bạn là một chuyên gia về Ngoại Ngữ. Luôn trả về dạng JSON. Tuyệt đối trả về tiếng Việt. Only return Vietnamese."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -180,
        -100
      ],
      "id": "78e7ec92-f45a-4b59-94d1-8d89fcf704cc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-pro-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        160
      ],
      "id": "b0202e6e-ff45-46aa-a2f3-128a1a6b0b0d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OQhJcKYWadD9NHUa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Hc67T92DmkN5FeDIqLYwcOsPHDxh88FWRTBno_j5H-U/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hc67T92DmkN5FeDIqLYwcOsPHDxh88FWRTBno_j5H-U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Google Sheets1').item.json.row_number }}",
            "phát_âm_ipa": "={{ $json.short_out.phat_am_ipa }}",
            "phát_âm_tiếng_việt": "={{ $json.short_out.phat_am_tieng_viet }}",
            "Dịch Nghĩa": "={{ $json.short_out.dich_nghia }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Tiếng Anh",
              "displayName": "Tiếng Anh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phát_âm_ipa",
              "displayName": "phát_âm_ipa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phát_âm_tiếng_việt",
              "displayName": "phát_âm_tiếng_việt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dịch Nghĩa",
              "displayName": "Dịch Nghĩa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        420,
        -100
      ],
      "id": "f5327264-7dbd-4829-9c31-ebaccea3f014",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XeLvN1ll3oR6Pv1d",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let note = $input?.first()?.json?.output || \"\"; // Dùng optional chaining và giá trị mặc định\nlet splitResult = note.split(\"</think>\");\nif (splitResult.length > 1) {\n  note = splitResult[1].trim().replaceAll(\"\\n\", \"\").replaceAll(\"```\", \"\").replace(\"json\", \"\");\n} else {\n  note = splitResult[0].trim().replaceAll(\"\\n\", \"\").replaceAll(\"```\", \"\").replace(\"json\", \"\");\n}\ntry {\n  note = JSON.parse(note);\n} catch (e) {\n  note = {}; // Nếu JSON không hợp lệ, trả về object rỗng\n}\nreturn {json: {short_out: note}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        -100
      ],
      "id": "13a2975d-eb56-48a3-a3cf-cbbceca7af39",
      "name": "Code"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Hc67T92DmkN5FeDIqLYwcOsPHDxh88FWRTBno_j5H-U/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hc67T92DmkN5FeDIqLYwcOsPHDxh88FWRTBno_j5H-U/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -500,
        -60
      ],
      "id": "a0343986-ab29-4b52-9dc5-a0278172b9e4",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XeLvN1ll3oR6Pv1d",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        0
      ],
      "id": "569ce581-85ca-48a0-a9bf-d1e92e96ba99",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        -360
      ],
      "id": "c3025e73-85e4-4ddb-86fc-3a764768ef16",
      "name": "Telegram Trigger",
      "webhookId": "780a577a-f5e3-44f8-8f57-a02c88c71ac0",
      "credentials": {
        "telegramApi": {
          "id": "JJGUPzvDnCZm1f6e",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Hc67T92DmkN5FeDIqLYwcOsPHDxh88FWRTBno_j5H-U/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hc67T92DmkN5FeDIqLYwcOsPHDxh88FWRTBno_j5H-U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tiếng Anh": "{{ $json.message.text }}"
          },
          "matchingColumns": [
            "Tiếng Anh"
          ],
          "schema": [
            {
              "id": "Tiếng Anh",
              "displayName": "Tiếng Anh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phát_âm_ipa",
              "displayName": "phát_âm_ipa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phát_âm_tiếng_việt",
              "displayName": "phát_âm_tiếng_việt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Dịch Nghĩa",
              "displayName": "Dịch Nghĩa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -920,
        -60
      ],
      "id": "c8864b61-7c00-4eba-ac99-78ef420b6802",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XeLvN1ll3oR6Pv1d",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=- Phát âm ipa {{ $json.message.text }}\n- Phát âm tiếng việt {{ $json.message.text }} \n- Dịch nghĩa {{ $json.message.text }}sang tiếng việt\n\n",
        "options": {
          "systemMessage": "Bạn là một chuyên gia về Ngoại Ngữ. Luôn trả về dạng JSON. Tuyệt đối trả về tiếng Việt. Only return Vietnamese."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -360,
        -500
      ],
      "id": "c9b1f072-6502-422c-9929-87a3bf8829f2",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -340,
        -240
      ],
      "id": "33199b29-870b-4311-86b9-78d73cba99ed",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "OQhJcKYWadD9NHUa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let note = $input?.first()?.json?.output || \"\"; // Dùng optional chaining và giá trị mặc định\nlet splitResult = note.split(\"</think>\");\nif (splitResult.length > 1) {\n  note = splitResult[1].trim().replaceAll(\"\\n\", \"\").replaceAll(\"```\", \"\").replace(\"json\", \"\");\n} else {\n  note = splitResult[0].trim().replaceAll(\"\\n\", \"\").replaceAll(\"```\", \"\").replace(\"json\", \"\");\n}\ntry {\n  note = JSON.parse(note);\n} catch (e) {\n  note = {}; // Nếu JSON không hợp lệ, trả về object rỗng\n}\nreturn {json: {short_out: note}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        -500
      ],
      "id": "d50819de-f8dd-4405-b3e4-a9b5fc6aabe5",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Hc67T92DmkN5FeDIqLYwcOsPHDxh88FWRTBno_j5H-U/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hc67T92DmkN5FeDIqLYwcOsPHDxh88FWRTBno_j5H-U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phát_âm_tiếng_việt": "={{ $json.short_out.phat_am_tieng_viet }}",
            "Tiếng Anh": "{{ $json.message.text }}",
            "phát_âm_ipa": "{{ $json.short_out.phat_am_ipa }}",
            "Dịch Nghĩa": "{{ $json.short_out.dich_nghia }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Tiếng Anh",
              "displayName": "Tiếng Anh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phát_âm_ipa",
              "displayName": "phát_âm_ipa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phát_âm_tiếng_việt",
              "displayName": "phát_âm_tiếng_việt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dịch Nghĩa",
              "displayName": "Dịch Nghĩa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "short_out",
              "displayName": "short_out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        360,
        -500
      ],
      "id": "1c89c877-9559-48de-bcac-5deda2600e01",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XeLvN1ll3oR6Pv1d",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-03T06:53:56.000Z",
  "versionId": "c756e9ed-2bb3-4c82-95a5-d6de98c96a75"
}