workflows/abHKCNHBbsGDWk13.json
{
  "active": true,
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-03T07:22:59.799Z",
  "id": "abHKCNHBbsGDWk13",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bot phiên âm tiếng anh copy",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\noutput trả ra : word , ipa , translate , Pronounced in Vietnamese , phát_âm_gợi_ý_tiếng_việt, phát_âm_gợi_ý_tiếng_việt_của người viêtj\n",
        "options": {
          "systemMessage": "Bạn là một chuyên gia về Ngoại Ngữ. Luôn trả về dạng JSON. Tuyệt đối trả về tiếng Việt. Only return Vietnamese.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -360,
        -500
      ],
      "id": "2e664394-24ac-47f8-939d-b32edc2d4106",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -340,
        -240
      ],
      "id": "c93a5e2a-0300-46b0-afc2-cd1ef341859a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "OQhJcKYWadD9NHUa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let note = $input?.first()?.json?.output || \"\"; // Dùng optional chaining và giá trị mặc định\nlet splitResult = note.split(\"</think>\");\nif (splitResult.length > 1) {\n  note = splitResult[1].trim().replaceAll(\"\\n\", \"\").replaceAll(\"```\", \"\").replace(\"json\", \"\");\n} else {\n  note = splitResult[0].trim().replaceAll(\"\\n\", \"\").replaceAll(\"```\", \"\").replace(\"json\", \"\");\n}\ntry {\n  note = JSON.parse(note);\n} catch (e) {\n  note = {}; // Nếu JSON không hợp lệ, trả về object rỗng\n}\nreturn {json: {short_out: note}};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        -500
      ],
      "id": "09b7e5b7-a0b9-4a61-b583-b54aef64517f",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Hc67T92DmkN5FeDIqLYwcOsPHDxh88FWRTBno_j5H-U/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hc67T92DmkN5FeDIqLYwcOsPHDxh88FWRTBno_j5H-U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tiếng Anh": "={{ $json.short_out.word }}",
            "Pronounced in Vietnamese": "={{ $json.short_out['Pronounced in Vietnamese'] }}",
            "phát_âm_tiếng_việt": "={{ $json.short_out['phát_âm_gợi_ý_tiếng_việt'] }}",
            "Dịch Nghĩa": "={{ $json.short_out.translate }}",
            "phát_âm_ipa": "={{ $json.short_out.ipa }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Tiếng Anh",
              "displayName": "Tiếng Anh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phát_âm_ipa",
              "displayName": "phát_âm_ipa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pronounced in Vietnamese",
              "displayName": "Pronounced in Vietnamese",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phát_âm_tiếng_việt",
              "displayName": "phát_âm_tiếng_việt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Dịch Nghĩa",
              "displayName": "Dịch Nghĩa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "short_out",
              "displayName": "short_out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        360,
        -500
      ],
      "id": "61a1cce9-0d4b-4e44-a767-ee9d10951c9e",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XeLvN1ll3oR6Pv1d",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Hc67T92DmkN5FeDIqLYwcOsPHDxh88FWRTBno_j5H-U/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hc67T92DmkN5FeDIqLYwcOsPHDxh88FWRTBno_j5H-U/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -640,
        -380
      ],
      "id": "c7991edc-5852-4b1f-bd43-53039d41ca8e",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XeLvN1ll3oR6Pv1d",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -660,
        -640
      ],
      "id": "5182471c-d27c-445a-8728-c7e90eab4661",
      "name": "Telegram Trigger",
      "webhookId": "fbe616aa-48cc-4ddb-a301-bbd704b8bb71",
      "credentials": {
        "telegramApi": {
          "id": "e5UwA4Fy2pIZU48U",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5314136445",
        "text": "=-  Từ vựng              : {{ $json['Tiếng Anh'] }}\n-  Cách đọc Phát âm 1   : {{ $json['Pronounced in Vietnamese'] }}\n-  Cách đọc Phát âm 2   : {{ $json['phát_âm_tiếng_việt'] }}\n-  Nghĩa                : {{ $json['Dịch Nghĩa'] }}\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        580,
        -500
      ],
      "id": "055eeb89-b0c1-4e89-a638-75f8fe69d6e9",
      "name": "Telegram",
      "webhookId": "3946ccab-e500-4f1d-b29f-b8875228f953",
      "credentials": {
        "telegramApi": {
          "id": "e5UwA4Fy2pIZU48U",
          "name": "Telegram account 4"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-04T02:31:03.000Z",
  "versionId": "02d5b42f-f495-4231-b1e3-8cd0753ae4d5"
}