workflows/CRhtAdcLSQQ4IL6b.json
{
  "active": true,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Đăng nh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request2": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Đăng nh1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đăng nh": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đăng nh1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-03T02:58:29.757Z",
  "id": "CRhtAdcLSQQ4IL6b",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "auto khởi đông vm trong proxmox",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -280,
        -220
      ],
      "id": "20295be9-f6b2-4c3a-af37-d8093a69949a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://pve.anhngoc.io.vn/api2/json/nodes/pve/qemu/101/status/current",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=PVEAuthCookie={{ $json.data.ticket }}; Path=/"
            },
            {
              "name": "CSRFPreventionToken",
              "value": "={{ $json.data.CSRFPreventionToken }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -220
      ],
      "id": "e52885f0-0959-411e-8717-609545775d24",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9989826b-10d8-4378-bd5a-071e56848829",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "stop",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        340,
        -220
      ],
      "id": "3a7a662c-23c2-4fbc-b278-c368cc43b192",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pve.anhngoc.io.vn/api2/json/nodes/pve/qemu/101/status/stop",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=PVEAuthCookie={{ $('Đăng nh').item.json.data.ticket }}; Path=/"
            },
            {
              "name": "CSRFPreventionToken",
              "value": "={{ $('Đăng nh').item.json.data.CSRFPreventionToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        -360
      ],
      "id": "6863cf34-ae74-49d6-880d-77a5aece4780",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pve.anhngoc.io.vn/api2/json/nodes/pve/qemu/101/status/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=PVEAuthCookie={{ $('Đăng nh').item.json.data.ticket }}; Path=/"
            },
            {
              "name": "CSRFPreventionToken",
              "value": "={{ $('Đăng nh').item.json.data.CSRFPreventionToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -320
      ],
      "id": "dc0f17e2-e4da-4ef9-bb6c-0ffbbc7992a2",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9989826b-10d8-4378-bd5a-071e56848829",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "stop",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        100,
        -20
      ],
      "id": "1e6bb81d-df06-4cdd-a300-2323984d41b5",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pve.anhngoc.io.vn/api2/json/access/ticket",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "n8n-api@pve"
            },
            {
              "name": "password",
              "value": "Khongco@0108"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        -220
      ],
      "id": "509f5dbb-9df5-47eb-9147-bfd4e9f9b2f0",
      "name": "Đăng nh"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pve.anhngoc.io.vn/api2/json/nodes/pve/qemu/101/status/stop",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=PVEAuthCookie={{ $('Đăng nh1').item.json.data.ticket }}; Path=/"
            },
            {
              "name": "CSRFPreventionToken",
              "value": "={{ $('Đăng nh1').item.json.data.CSRFPreventionToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        -40
      ],
      "id": "124f0c90-6be6-4e99-9823-fec69058ebb0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pve.anhngoc.io.vn/api2/json/access/ticket",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "n8n-api@pve"
            },
            {
              "name": "password",
              "value": "Khongco@0108"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -40
      ],
      "id": "f004efa5-1f87-4cec-8d97-0c015a7b94f5",
      "name": "Đăng nh1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -120,
        0
      ],
      "id": "f6a7538d-e52b-419f-926c-728af1716c5b",
      "name": "Telegram Trigger",
      "webhookId": "1ffef2e7-5b76-4bc6-b37d-2f2a20e9ac16",
      "credentials": {
        "telegramApi": {
          "id": "JJGUPzvDnCZm1f6e",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-03T07:00:21.000Z",
  "versionId": "15237e5a-ba8b-4e4e-acd2-534338c0980d"
}