workflows/CRhtAdcLSQQ4IL6b.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request2": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-04-03T02:58:29.757Z",
  "id": "CRhtAdcLSQQ4IL6b",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "auto khởi đông vm trong proxmox",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -280,
        -220
      ],
      "id": "20295be9-f6b2-4c3a-af37-d8093a69949a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pve.anhngoc.io.vn/api2/json/access/ticket",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "n8n-api@pve"
            },
            {
              "name": "password",
              "value": "Khongco@0108"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        -220
      ],
      "id": "509f5dbb-9df5-47eb-9147-bfd4e9f9b2f0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://pve.anhngoc.io.vn/api2/json/nodes/pve/qemu/101/status/current",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=PVEAuthCookie={{ $json.data.ticket }}; Path=/"
            },
            {
              "name": "CSRFPreventionToken",
              "value": "={{ $json.data.CSRFPreventionToken }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -220
      ],
      "id": "e52885f0-0959-411e-8717-609545775d24",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9989826b-10d8-4378-bd5a-071e56848829",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "stop",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        340,
        -220
      ],
      "id": "3a7a662c-23c2-4fbc-b278-c368cc43b192",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pve.anhngoc.io.vn/api2/json/nodes/pve/qemu/101/status/stop",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=PVEAuthCookie={{ $('HTTP Request').item.json.data.ticket }}; Path=/"
            },
            {
              "name": "CSRFPreventionToken",
              "value": "={{ $('HTTP Request').item.json.data.CSRFPreventionToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        0
      ],
      "id": "6863cf34-ae74-49d6-880d-77a5aece4780",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pve.anhngoc.io.vn/api2/json/nodes/pve/qemu/101/status/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "=PVEAuthCookie={{ $('HTTP Request').item.json.data.ticket }}; Path=/"
            },
            {
              "name": "CSRFPreventionToken",
              "value": "={{ $('HTTP Request').item.json.data.CSRFPreventionToken }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -320
      ],
      "id": "dc0f17e2-e4da-4ef9-bb6c-0ffbbc7992a2",
      "name": "HTTP Request3"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-03T03:44:37.000Z",
  "versionId": "eb961872-1e4a-41ea-9f61-c00472ca18c7"
}