workflows/p4SXJpYxJxnqhE0S.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dowload": {
      "main": [
        [
          {
            "node": "upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "generative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "dowload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generative": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-26T03:51:29.262Z",
  "id": "p4SXJpYxJxnqhE0S",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "auto-tao-anh",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1000,
        140
      ],
      "id": "b278eb15-b09b-496f-bc6c-37c3663ff9ba",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1bhaVKV0sZJ6YeDsTysZL-vDFxYiAcdBPVyFRfzbiYrw/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bhaVKV0sZJ6YeDsTysZL-vDFxYiAcdBPVyFRfzbiYrw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Trạng Thái",
              "lookupValue": "Chưa làm"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -800,
        140
      ],
      "id": "7562a5e5-8650-4a16-a978-d5d2267bbda6",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XeLvN1ll3oR6Pv1d",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Mô tả ngắn gọn nội dung hình ảnh trong 10 từ tiếng anh",
        "imageUrls": "={{ $('Edit Fields').item.json.url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        0
      ],
      "id": "1b2f1e26-301e-4b65-b898-90bf0a91f59e",
      "name": "OpenAI",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "kSJWOWCHJ5w990Mo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        140
      ],
      "id": "a4017328-68aa-4261-af05-eb428a38c395",
      "name": "dowload"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mô tả về sản phẩm:  {{ $json.content }}",
        "messages": {
          "messageValues": [
            {
              "message": "=## Overview:\n- Bạn là một chuyên gia thiết kế concept dựa trên hình ảnh sản phẩm được cung cấp. Ngoài ra bạn rất giỏi và am hiểu prompting bằng tiếng anh cho AI tạo ảnh\n\n## Nhiêm vụ:\n- Hãy tạo một đoạn prompt ngắn cho trình tạo hình ảnh AI, trong đó sẽ nhận vào một bức ảnh sản phẩm để cuối cùng tạo ra ảnh chụp sản phẩm chuyên nghiệp.\n- Yêu cầu lấy hình ảnh người mẫu phải là hình ảnh người mẫu nữ Việt chuyên nghiệp.\n- Nếu sản phẩm có thể mặc được, bạn phải đảm bảo nó được một người mẫu mặc. Nếu sản phẩm không thể mặc, hãy đảm bảo có một người mẫu cầm hoặc tương tác với nó theo cách nào đó. Sản phẩm LUÔN LUÔN phải đi kèm với một người mẫu. Yêu cầu là người mẫu chuyên nghiệp, đeo kính.\n- Hãy chắc chắn bao gồm các hướng dẫn để có được độ chân thực tốt nhất, ánh sáng tốt nhất, góc chụp đẹp nhất, màu sắc chuẩn nhất, vị trí người mẫu phù hợp nhất,  v.v. tùy thuộc vào loại sản phẩm.\n- Luôn viết prompt dưới dạng nhắc đến sản phẩm, ví dụ: \"sản phẩm này [PRODUCT]\", để trình tạo hình ảnh AI hiểu rằng nó sẽ nhận một bức ảnh sản phẩm làm đầu vào.\n\n## SOP:\n- Phong cách 'Product Photoshoot' chuyên nghiệp, phù hợp với sản phẩm\n- Prompt trả ra là tiếng anh"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        160,
        0
      ],
      "id": "8e02bbc9-298c-49ec-98a1-9f5938477dee",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        180
      ],
      "id": "c4f92c1a-c466-4cbd-89cc-32f114b0ef24",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kSJWOWCHJ5w990Mo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp-image-generation:generateContent?key=AIzaSyBmcGp-CN5FPLofcRqZJyP1gwrWObHYWA8",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"role\": \"user\",\n    \"parts\": [\n      {\n        \"text\": \"{{ $json.text.replaceAll('\\\"', '') }}\"\n      },\n      {\n        \"fileData\": {\n          \"mimeType\": \"image/png\",\n          \"fileUri\": \"{{ $('upload').item.json.file.uri }}\"\n        }\n      }\n    ]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 1.4,\n    \"topK\": 40,\n    \"topP\": 0.95,\n    \"maxOutputTokens\": 8192,\n    \"responseMimeType\": \"text/plain\",\n    \"responseModalities\": [\"image\",\"text\"]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ],
      "id": "2d227d03-4fbd-4e20-be64-d9ab77690217",
      "name": "generative"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e1396e7-10ad-4402-9961-f9b1d65f75ff",
              "name": "url",
              "value": "={{ $json['Link Sản Phẩm'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        140
      ],
      "id": "14d9e3ca-abb9-47d5-90cf-a922b8f7b5f6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[0].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "id": "148b402b-852b-43bf-8f33-ee603af65aac",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "name": "img",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1I5uWOVxTDRXIID6v8v5ODZIiVEbdKGUT",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        820,
        0
      ],
      "id": "968eff26-c837-4fb0-b7ca-d259a9737839",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "njiKm9DQVjFfs3lj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bhaVKV0sZJ6YeDsTysZL-vDFxYiAcdBPVyFRfzbiYrw",
          "mode": "list",
          "cachedResultName": "Demo San Pham",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bhaVKV0sZJ6YeDsTysZL-vDFxYiAcdBPVyFRfzbiYrw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bhaVKV0sZJ6YeDsTysZL-vDFxYiAcdBPVyFRfzbiYrw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Google Sheets').item.json.row_number }}",
            "Trạng Thái": "Done",
            "Prompt Vẽ": "={{ $('Basic LLM Chain').item.json.text }}",
            "Link Hình Ảnh": "={{ $json.webViewLink }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Link Sản Phâm",
              "displayName": "Link Sản Phâm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái",
              "displayName": "Trạng Thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prompt Vẽ",
              "displayName": "Prompt Vẽ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Hình Ảnh",
              "displayName": "Link Hình Ảnh",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        980,
        0
      ],
      "id": "ce5c7310-0f9b-4767-a43e-7559ec1b3cf6",
      "name": "update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XeLvN1ll3oR6Pv1d",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files?key=AIzaSyBmcGp-CN5FPLofcRqZJyP1gwrWObHYWA8",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Command",
              "value": "start, upload, finalize"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "128"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "image/png"
            },
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        140
      ],
      "id": "27ec9e1c-5899-49a5-ae2e-7399eda067d9",
      "name": "upload"
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {}
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-27T06:12:17.000Z",
  "versionId": "4b643df9-26f6-49fd-8f2a-97fe038e7e66"
}