workflows/Wt4s66llg1ibq56I.json
{
  "active": false,
  "connections": {
    "Check RAM usage": {
      "main": [
        [
          {
            "node": "Check Disk usage",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge check results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Check Disk usage": {
      "main": [
        [
          {
            "node": "Check CPU usage",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge check results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check CPU usage": {
      "main": [
        [
          {
            "node": "Merge check results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge check results": {
      "main": [
        [
          {
            "node": "Check results against thresholds -CPU",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check results against thresholds1 - DISK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check results against thresholds - Ram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check RAM usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check results against thresholds -CPU": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check results against thresholds1 - DISK": {
      "main": [
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check results against thresholds - Ram": {
      "main": [
        [
          {
            "node": "Send Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-02T09:51:49.308Z",
  "id": "Wt4s66llg1ibq56I",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Giám sát máy chủ",
  "nodes": [
    {
      "parameters": {
        "command": "free | awk '/Mem:/ {printf \"%.2f\", (1 - $7/$2) * 100}'"
      },
      "id": "4bc33fcb-40e5-4c48-ab7b-9de94dbf2225",
      "name": "Check RAM usage",
      "type": "n8n-nodes-base.ssh",
      "position": [
        200,
        0
      ],
      "executeOnce": false,
      "typeVersion": 1,
      "credentials": {
        "sshPassword": {
          "id": "QihsH2yoBIrfccT4",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "df -h | awk '$NF==\"/\"{printf \"%.2f\", $5}'"
      },
      "id": "a1d4207c-f0c0-41a5-9abb-095a0cfe528f",
      "name": "Check Disk usage",
      "type": "n8n-nodes-base.ssh",
      "position": [
        420,
        0
      ],
      "executeOnce": false,
      "typeVersion": 1,
      "credentials": {
        "sshPassword": {
          "id": "QihsH2yoBIrfccT4",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "top -bn 1 | grep \"Cpu(s)\" | sed \"s/.*, *\\([0-9.]*\\)%* id.*/\\1/\" | awk '{print 100 - $1}'"
      },
      "id": "39bdd38b-1162-4c04-95a3-29e003f924dc",
      "name": "Check CPU usage",
      "type": "n8n-nodes-base.ssh",
      "position": [
        620,
        0
      ],
      "executeOnce": false,
      "typeVersion": 1,
      "credentials": {
        "sshPassword": {
          "id": "QihsH2yoBIrfccT4",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "numberInputs": 3,
        "query": "SELECT input1.stdout as CPU, input2.stdout as Disk, input3.stdout as RAM FROM input1 LEFT JOIN input2 ON input1.name = input2.id LEFT JOIN input3 ON input1.name = input3.id"
      },
      "id": "14d48d23-87f6-4a30-b62f-4977065d23c9",
      "name": "Merge check results",
      "type": "n8n-nodes-base.merge",
      "position": [
        -60,
        340
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "8e7a762a-c939-4ad8-91b9-154f9e72816a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fromEmail": "trungnguyen26051988@gmail.com",
        "toEmail": "trungnguyen26051988@gmail.com",
        "subject": "Cảnh Báo : Hệ Thống đang sử dung gần hết tài nguyên",
        "emailFormat": "text",
        "text": "=Cảnh Báo : Hệ Thống đang sử dung gần hết tài nguyên\n\n - CPU đã sử dụng: {{ $json.CPU }} %\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        540,
        220
      ],
      "id": "241f2af9-345a-40f3-be4a-575b36fa74e4",
      "name": "Send Email",
      "webhookId": "141e6e23-5ac1-4891-b317-9730caeefa80",
      "credentials": {
        "smtp": {
          "id": "MPinxupn2XwvtYkR",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "trungnguyen26051988@gmail.com",
        "toEmail": "trungnguyen26051988@gmail.com",
        "subject": "Cảnh Báo : Hệ Thống đang sử dung gần hết tài nguyên",
        "emailFormat": "text",
        "text": "=Cảnh Báo : Hệ Thống đang sử dung gần hết tài nguyên\n\n- Disk đã sử dụng: {{ $json.Disk }} %\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        560,
        420
      ],
      "id": "8081d836-1524-49a0-a53f-bff9bd29c79f",
      "name": "Send Email1",
      "webhookId": "141e6e23-5ac1-4891-b317-9730caeefa80",
      "credentials": {
        "smtp": {
          "id": "MPinxupn2XwvtYkR",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.CPU }}",
              "operation": "largerEqual",
              "value2": 80
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "1667498e-e28a-46a2-8228-c96b3b1791af",
      "name": "Check results against thresholds -CPU",
      "type": "n8n-nodes-base.if",
      "position": [
        280,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fromEmail": "trungnguyen26051988@gmail.com",
        "toEmail": "trungnguyen26051988@gmail.com",
        "subject": "Cảnh Báo : Hệ Thống đang sử dung gần hết tài nguyên",
        "emailFormat": "text",
        "text": "=Cảnh Báo : Hệ Thống đang sử dung gần hết tài nguyên\n\n - Ram đã sử dụng: {{ $json.RAM }} %",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        560,
        620
      ],
      "id": "34676d5d-a222-440d-86ab-d7122b2cf976",
      "name": "Send Email2",
      "webhookId": "141e6e23-5ac1-4891-b317-9730caeefa80",
      "credentials": {
        "smtp": {
          "id": "MPinxupn2XwvtYkR",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.Disk }}",
              "operation": "largerEqual",
              "value2": 80
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "789da8a4-551f-4aba-8970-d2c42469bae0",
      "name": "Check results against thresholds1 - DISK",
      "type": "n8n-nodes-base.if",
      "position": [
        300,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.RAM }}",
              "operation": "largerEqual",
              "value2": 80
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "53750853-77c5-4c8d-8e56-8982cb0ca26f",
      "name": "Check results against thresholds - Ram",
      "type": "n8n-nodes-base.if",
      "position": [
        300,
        640
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-03T02:25:13.000Z",
  "versionId": "4d9e982a-38f1-4e67-82f2-42e2c1a1a12a"
}